@rendermode @(InteractiveServer)
@page "/User/Plant/{PlantId:guid}"
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigator
@code
{
    [Parameter] public Guid PlantId { get; set; }

    protected override void OnInitialized()
    {
        Plant = DbContext.Plants.Include(p => p.Records).Include(p => p.User).First(plant => plant.Id == PlantId);
        if(Plant.Records.Count() is 0)
        {            
            for(int index = 0; index < 60; index++)
            {
                SensorRecord record = new()
                {
                    Light = (byte)Random.Shared.Next(20, 80),
                    Moisture = (byte)Random.Shared.Next(20, 80),
                    Temperature = (byte)Random.Shared.Next(10, 30),
                    Humidity = (byte)Random.Shared.Next(20, 80),
                    UpdateTime = 5,
                };
                Plant.Records.Add(record);
            }
            LastRecord = Plant.Records.LastOrDefault();
            UpdateChart();
        }
    }
}

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent Class="flex flex-col space-y-2 bg-pink-300 p-1">
            <Div Class="aspect-square w-[95%] self-center rounded border border-gray-900 bg-gray-300" />
            <Addons>
                <Addon AddonType=AddonType.Start>
                    <Text Class="mx-1">Name</Text>
                </Addon>
                <Addon AddonType=AddonType.Body>
                    <TextEdit @bind-Text=Plant.Name />
                </Addon>
            </Addons>
            <Addons Class="w-full rounded-[10px] border-2 border-gray-900">
                <Addon AddonType=AddonType.Start>
                    <Text Class="mx-1">ID</Text>
                </Addon>
                <Addon AddonType=AddonType.Body>
                    <Text Class="mx-1 flex w-full flex-row items-center justify-start">@Plant.Id</Text>
                </Addon>
            </Addons>
            <Addons>
                <Addon AddonType=AddonType.Start>
                    <Text Class="mx-1">Measure period</Text>
                </Addon>
                <Addon AddonType=AddonType.Body>
                    <NumericEdit TValue="int" Min=1 @bind-Value=Plant.UpdatePeriod />
                </Addon>
                <Addon AddonType=AddonType.End>
                    <Text Class="p-1">Minute</Text>
                </Addon>
            </Addons>
            <Button Block Clicked=NavigateToSensorPage Class="flex flex-row items-center justify-center rounded border-2 border-gray-900 bg-yellow-400">Sensors</Button>
            <Button Block Clicked=DeletePlant Class="flex flex-row items-center justify-center rounded border-2 border-gray-900 bg-red-500">Delete</Button>
        </LayoutSiderContent>
    </LayoutSider>
    <LayoutContent Class="flex flex-col">
        <Div Class="p-1 text-3xl text-gray-400">Last updated: @Plant.LastUpdated</Div>
        <Div Class="flex flex-row justify-around p-1">
            @if(Tab is ChartTab.Light)
            {
                <Button Clicked=@(void () => { Tab = ChartTab.Light; UpdateChart(); })
                    Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-yellow-400 text-xl bg-yellow-200">
                    @if(LastRecord is not null)
                    {
                        <text>Light: @(LastRecord.Light)%</text>
                    }
                    else
                    {
                        <text>Light</text>
                    }
                </Button>       
            }
            else
            {
                <Button Clicked=@(void () => { Tab = ChartTab.Light; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-yellow-400 text-xl">
                    @if(LastRecord is not null)
                    {
                        <text>Light: @(LastRecord.Light)%</text>
                    }
                    else
                    {
                        <text>Light</text>
                    }
                </Button>
            }
            @if(Tab is ChartTab.Moisture)
            {
                <Button Clicked=@(void () => { Tab = ChartTab.Moisture; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-green-600 text-xl bg-green-300">
                    @if(LastRecord is not null)
                    {
                        <text>Moisture: @(LastRecord.Moisture)%</text>
                    }
                    else
                    {
                        <text>Moisture</text>
                    }
                </Button>
            }
            else
            {
                <Button Clicked=@(void() => { Tab = ChartTab.Moisture; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-green-600 text-xl">
                    @if(LastRecord is not null)
                    {
                        <text>Moisture: @(LastRecord.Moisture)%</text>
                    }
                    else
                    {
                        <text>Moisture</text>
                    }
                </Button>
            }
            @if(Tab is ChartTab.Temperature)
            {
                <Button Clicked=@(void() => { Tab = ChartTab.Temperature; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-red-600 text-xl bg-red-300">
                    @if(LastRecord is not null)
                    {
                        <text>Temperature: @(LastRecord.Temperature)°C</text>
                    }
                    else
                    {
                        <text>Temperature</text>
                    }
                </Button>
            }
            else
            {
                <Button Clicked=@(void() => { Tab = ChartTab.Temperature; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-red-600 text-xl">
                    @if(LastRecord is not null)
                    {
                        <text>Temperature: @(LastRecord.Temperature)°C</text>
                    }
                    else
                    {
                        <text>Temperature</text>
                    }
                </Button>
            }
            @if(Tab is ChartTab.Humidity)
            {
                <Button Clicked=@(void () => { Tab = ChartTab.Humidity; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-blue-600 text-xl bg-blue-300">
                    @if(LastRecord is not null)
                    {
                        <text>Humidity: @(LastRecord.Humidity)%</text>
                    }
                    else
                    {
                        <text>Humidity</text>
                    }
                </Button>
            }
            else
            {
                <Button Clicked=@(void () => { Tab = ChartTab.Humidity; UpdateChart(); })
                        Class="flex w-1/5 flex-row items-center justify-center rounded border-2 border-blue-600 text-xl">
                    @if(LastRecord is not null)
                    {
                        <text>Humidity: @(LastRecord.Humidity)%</text>
                    }
                    else
                    {
                        <text>Humidity</text>
                    }
                </Button>
            }        
        </Div>
        <Fields Class="!mx-0">
            <Field Horizontal Class="flex flex-row items-center justify-center dark:bg-stone-600">
                <FieldLabel Class="ml-1">Markers</FieldLabel>
                <FieldBody Class="ml-1 flex flex-row items-center">
                    <Check TValue="bool" @bind-Checked=Markers />
                </FieldBody>
            </Field>
            <Field Horizontal Class="flex flex-row items-center justify-center dark:bg-stone-600">
                <FieldLabel>Data Labels</FieldLabel>
                <FieldBody Class="ml-1 flex flex-row items-center">
                    <Check TValue="bool" @bind-Checked=DataLabels />
                </FieldBody>
            </Field>
            <Field>
                <Dropdown>
                    <DropdownToggle>@Period</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem Clicked=@(void() => { Period = TimePeriod.LastHour; UpdateChart(); })>@TimePeriod.LastHour</DropdownItem>
                        <DropdownItem Clicked=@(void() => { Period = TimePeriod.LastDay; UpdateChart(); })>@TimePeriod.LastDay</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </Field>
        </Fields>
        <Div Class="grow">
            <RadzenChart class="!h-full">
                <RadzenLineSeries Smooth TItem="Items" Title=@($"{Tab}") CategoryProperty="X" ValueProperty="Y" Data=Points>
                    <RadzenMarkers Visible=Markers MarkerType=MarkerType.Circle />
                    <RadzenSeriesDataLabels Visible=DataLabels />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding=20 Formatter=XFormatter>
                    <RadzenAxisTitle Text="Time" />
                </RadzenCategoryAxis>
                <RadzenValueAxis Formatter=YFormatter>
                    <RadzenGridLines Visible />
                    <RadzenAxisTitle Text="Values" />
                </RadzenValueAxis>
            </RadzenChart>
        </Div>
    </LayoutContent>
</Layout>

@code
{
    public Plant Plant { get; set; } = null!;
    public SensorRecord? LastRecord { get; set; }
    private bool Markers { get; set; } = true;
    private bool DataLabels { get; set; } = true;
    private int Time { get; set; } = 1;
    private TimePeriod Period { get; set; }
    public ChartTab Tab { get; set; }
    public List<Items> Points { get; set; } = [];

    public void DeletePlant()
    {
        DbContext.Plants.Remove(Plant);
        DbContext.SaveChanges();
        Navigator.NavigateTo("/User");
    }
    private string XFormatter(object value)
    {
        DateTime time = (DateTime)value;
        return $"{time.Hour:D2}:{time.Minute:D2}";
    }
    private string YFormatter(object value)
    {
        if(Tab is ChartTab.Temperature)
        {
            return $"{value}°C";
        }
        else
        {
            return $"{value}%";
        }
    }
    private void NavigateToSensorPage()
    {
        Navigator.NavigateTo($"/User/{Plant.UserId}/Plant/{Plant.Id}/Sensor");
    }
    public void UpdateChart()
    {
        if(Period is TimePeriod.LastHour)
        {
            int update_time = 0;
            SensorRecord[] records = Plant.Records.Reverse().TakeWhile(record =>
            {
                bool state = update_time < 59;
                update_time += record.UpdateTime;
                return state;
            }).ToArray();
            update_time = 0;
            Points = records.Select((record, index) =>
            {
                Items items = new(Plant.LastUpdated.AddMinutes(update_time), Tab switch
                {
                    ChartTab.Light => record.Light,
                    ChartTab.Moisture => record.Moisture,
                    ChartTab.Temperature => record.Temperature,
                    ChartTab.Humidity => record.Humidity,
                    _ => 0,
                });
                if(index < records.Length - 1)
                {
                    update_time -= records[index + 1].UpdateTime;
                }
                return items;
            }).Reverse().ToList();
        }
        else
        {
            int update_time = 0;
            SensorRecord[] records = Plant.Records.Reverse().TakeWhile(record =>
            {
                bool state = update_time < 23 * 60;
                update_time += record.UpdateTime;
                return state;
            }).ToArray();
            update_time = 0;
            Points = records.Select((record, index) =>
            {
                Items items = new(Plant.LastUpdated.AddMinutes(update_time), Tab switch
                {
                    ChartTab.Light => record.Light,
                    ChartTab.Moisture => record.Moisture,
                    ChartTab.Temperature => record.Temperature,
                    ChartTab.Humidity => record.Humidity,
                    _ => 0,
                });
                if(index < records.Length - 1)
                {
                    update_time -= records[index + 1].UpdateTime;
                }
                return items;
            }).Reverse().GroupBy(item => item.X.Hour).Select(group => group.Last()).ToList();
        }
    }

    public enum TimePeriod
    {
        LastHour,
        LastDay,
    }
    public enum ChartTab
    {
        Light,
        Moisture,
        Temperature,
        Humidity
    }
    public readonly record struct Items(DateTime X, int Y);
}